header.nav.navbar-default
            .container
                .navbar-header
                    a.navbar-brand(href="/") File Upload
                .navbar-collapse.collapse
                    ul.nav.navbar-nav
                        li
                            a(href="/") Home
                        if (!userData)
                            li
                                a(href="/register") Register
                            li
                                a(href="/login") Login
                        else
                            li
                                a(href="/upload") Upload
                            li
                                a(href="/profile") #{userData.username}
                            li
                                a(href="/logout") Logout

        .container
            if (successMessage)
                .container
                    br
                    .text-center.alert.alert-success.alert-dismissable(role="alert") #{successMessage}

            if (errorMessage)
                .container
                    br
                    .text-center.alert.alert-danger.alert-dismissable(role="alert") #{errorMessage}

            br
            block main-content